/* VIRTUAL RANGE */
track-d = #ccc
fill-d = #606060
.{prefix}-container
    .{prefix}-range
        position: relative;
        top: 5px;
        width: 166px;
        height: 25px;
        display: inline-block;

    .{prefix}-range-bar
        cursor: pointer;
        width: 100%;
        margin: 0;
        padding: 0;
        padding-bottom: 7.5px;
        background: transparent;
        vertical-align: middle;

    .{prefix}-range-bar, .{prefix}-range-bar::-webkit-slider-thumb
        -webkit-appearance: none;
    .{prefix}-range-bar::-webkit-slider-runnable-track
        box-sizing: border-box;
        border: none;
        width: 100%;
        height: 2px;
    .{prefix}-range-bar::-moz-range-track // -moz-range-track and -ms-track doesn't work correctly when combined in firefox, for some reason
        box-sizing: border-box;
        border: none;
        width: 100%;
        height: 2px;
    .{prefix}-range-bar::-ms-track
        box-sizing: border-box;
        border: none;
        width: 100%;
        height: 2px;

    .{prefix}-range-bar::-moz-range-progress
        height: 2px;
        
    .{prefix}-range-bar::-ms-fill-lower
        height: 2px;

    .{prefix}-range-bar::-webkit-slider-thumb
        margin-top: -4.85px;
        box-sizing: border-box;
        border: none;
        width: 12px;
        height: 12px;
        border-radius: 50%;

    .{prefix}-range-bar::-moz-range-thumb
        box-sizing: border-box;
        border: none;
        width: 12px;
        height: 12px;
        border-radius: 50%;
    .{prefix}-range-bar::-ms-thumb
        margin-top: 0;
        box-sizing: border-box;
        border: none;
        width: 12px;
        height: 12px;
        border-radius: 50%;
    .{prefix}-range-bar::-ms-tooltip
        display: none;

    .{prefix}-range-wrap
        display: inline-block;
        margin-left: 4px;
        &.short .tui-image-editor-range
            width: 100px;
    .{prefix}-disabled
        .{prefix}-range-bar
            cursor: default;
        .{prefix}-range-value
            color: #777;
    .color-picker-control
        .{prefix}-range-bar::-webkit-slider-runnable-track
            background: linear-gradient(to right,fill-d var(--ratio), track-d var(--ratio)) !important;
        .{prefix}-range-bar::-moz-range-track
            background: track-d;
        .{prefix}-range-bar::-ms-track
            background: track-d;
        .{prefix}-range-bar::-moz-range-progress
            background: fill-d;
        .{prefix}-range-bar::-ms-fill-lower
            background: fill-d;
        .{prefix}-range-bar::-webkit-slider-thumb
            background: fill-d;
        .{prefix}-range-bar::-moz-range-thumb
            background: fill-d;
        .{prefix}-range-bar::-ms-thumb
            background: fill-d;
    .color-picker-control
        .{prefix}-range
            width: 108px;
            margin-left: 10px;
        .{prefix}-virtual-range-pointer
            background-color: #333;
        .{prefix}-virtual-range-bar
            background-color: #ccc;
        .{prefix}-virtual-range-subbar
            background-color: #606060;
    .{prefix}-range-wrap.{prefix}-newline.short
        margin-top: -2px;
        margin-left: 19px;
        label
            color: #8e8e8e;
            font-weight: normal;
    .{prefix}-range-wrap label
        vertical-align: baseline;
        font-size: 11px;
        margin-right: 7px;
        color: #fff;

    .{prefix}-range-value
        cursor: default;
        width: 40px;
        height: 24px;
        outline: none;
        border-radius: 2px;
        box-shadow: none;
        border: 1px solid #d5d5d5;
        text-align: center;
        background-color: #1c1c1c;
        color: #fff;
        font-weight: lighter;
        vertical-align: baseline;
        font-family: 'Noto Sans', sans-serif;
        margin-top: 15px;
        margin-left: 4px;
    .{prefix}-range-value-no-margin
        margin-top: 0px;
        margin-left: 0px;
    .{prefix}-controls
        position: absolute;
        background-color: #151515;
        width: 100%;
        height: 64px;
        display: table;
        bottom: 0;
        z-index: 2;
    .{prefix}-icpartition
        display: inline-block;
        background-color: #444;
        width: 1px;
        height: 24px;
